$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__ribbon-width: 160px;
$size__ribbon-height: 60px;

$size__tri-height: 64px;
$size__paper-width: 86%;

$size__shot-size: 128px;
$size__voice-shot-size: 70px;

$size__balloon-thick: 16px;
$size__balloon-length: 20px;
